#itemsLst{
	text-decoration: none;	
	max-height: 200px;
}
#ruta{
	height: 400px;
}
#mapcontainer,
#mapcontainerVR,
#mapcontainerER{
	height: 700px;
	border: solid 1px black;
}
#logoImg{
	width: 200px;
}
#iframeMain{
	width: 100%;
	min-height: 930px;	
}
#fila_item{
	background-color: #F7F7F7;
}
#tablaReportes1{    
	position: inherit;
	width: auto !important;
}
#tablaReportes1 thead{
	display: none;
}
#tablaReportes2{    
	position: inherit;
	width: auto !important;
}
#tablaReportes2 thead{
	display: none;
}
#fila_item_reporte{
	min-height: 930px;	
	background-color: #F7F7F7;
}
.fa-caret-down{
	float: right;
}
#jumboHome{
	position: relative;
	top: 70px;
}
